In [1]:
import os 
try:
    os.remove('airline2.db')
except OSError:
    pass

In [2]:
import sqlite3
conn = sqlite3.connect('airline2.db')

In [1]:
import pandas as pd

ontime = pd.read_csv("/home/max/LSE/DB_local_only/dataverse_files/2006.csv", encoding='latin-1')
#airports = pd.read_csv("/home/max/LSE/DB_local_only/dataverse_files/airports.csv")
#carriers = pd.read_csv("/home/max/LSE/DB_local_only/dataverse_files/carriers.csv")
#planes = pd.read_csv("/home/max/LSE/DB_local_only/dataverse_files/plane_data.csv")

In [2]:
pd.DataFrame(ontime)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,45,13,0,NaN,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,27,19,0,NaN,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,4,11,0,NaN,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,16,10,0,NaN,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,27,12,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7141917,2006,12,29,5,1246.0,1249,1452.0,1459,DL,1675,...,6,12,0,NaN,0,0,0,0,0,0
7141918,2006,12,29,5,1225.0,1155,2033.0,1931,DL,1676,...,12,35,0,NaN,0,30,0,32,0,0
7141919,2006,12,29,5,2118.0,2115,2254.0,2241,DL,1676,...,9,27,0,NaN,0,0,0,0,0,0
7141920,2006,12,29,5,2122.0,2127,2209.0,2223,DL,1677,...,5,21,0,NaN,0,0,0,0,0,0
7141921,2006,12,29,5,2042.0,2045,2213.0,2235,DL,1678,...,5,15,0,NaN,0,0,0,0,0,0

import sqlite3
conn = sqlite3.connect('airline2.db')

In [12]:
import pandas as pd
import numpy as np
pd.DataFrame(np.random.randn(10, 4), columns=list('abcd')).to_csv("/home/max/LSE/DB_local_only/dataverse_files/headers.csv",  mode='w')

pd.read_csv("/home/max/LSE/DB_local_only/dataverse_files/2006.csv", header=0, nrows=0).columns.tolist()

['Year',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'DepTime',
 'CRSDepTime',
 'ArrTime',
 'CRSArrTime',
 'UniqueCarrier',
 'FlightNum',
 'TailNum',
 'ActualElapsedTime',
 'CRSElapsedTime',
 'AirTime',
 'ArrDelay',
 'DepDelay',
 'Origin',
 'Dest',
 'Distance',
 'TaxiIn',
 'TaxiOut',
 'Cancelled',
 'CancellationCode',
 'Diverted',
 'CarrierDelay',
 'WeatherDelay',
 'NASDelay',
 'SecurityDelay',
 'LateAircraftDelay']